In [28]:
import pandas as pd
import numpy as np

In [29]:
df =  pd.read_csv("data/activity_data.txt", sep=';')

df.head()

             start_time              end_time  label_id
0  25-Feb-2008 00:19:32  25-Feb-2008 00:21:24         6
1  25-Feb-2008 00:22:46  25-Feb-2008 09:34:12        10
2  25-Feb-2008 09:37:17  25-Feb-2008 09:38:02         4
3  25-Feb-2008 09:49:23  25-Feb-2008 09:53:28        13
4  25-Feb-2008 10:02:28  25-Feb-2008 10:12:42         5

In [30]:
labels_df = pd.read_csv("data/activity_labels.txt", sep=";")

labels_df['label'] = labels_df['label'].str.replace('\'', '')
labels_df.head()

   label_id        label
0         1  leave house
1         2
2         3       Eating
3         4   use toilet
4         5  take shower

In [31]:
merged = pd.merge(df, labels_df, on='label_id', how='left')

merged

               start_time              end_time  label_id              label
0    25-Feb-2008 00:19:32  25-Feb-2008 00:21:24         6        brush teeth
1    25-Feb-2008 00:22:46  25-Feb-2008 09:34:12        10          go to bed
2    25-Feb-2008 09:37:17  25-Feb-2008 09:38:02         4         use toilet
3    25-Feb-2008 09:49:23  25-Feb-2008 09:53:28        13  prepare Breakfast
4    25-Feb-2008 10:02:28  25-Feb-2008 10:12:42         5        take shower
5    25-Feb-2008 10:19:06  25-Feb-2008 16:55:38         1        leave house
6    25-Feb-2008 17:00:31  25-Feb-2008 17:01:34         4         use toilet
7    25-Feb-2008 17:54:55  25-Feb-2008 17:55:58        17          get drink
8    25-Feb-2008 18:31:54  25-Feb-2008 18:33:38         4         use toilet
9    25-Feb-2008 19:40:26  25-Feb-2008 20:22:58        15     prepare Dinner
10   25-Feb-2008 20:23:12  25-Feb-2008 20:23:35        17          get drink
11   25-Feb-2008 21:51:29  25-Feb-2008 21:52:36         4         use toilet
12   25-Feb-2008 23:21:15  26-Feb-2008 09:15:30        10          go to bed
13   25-Feb-2008 23:22:38  25-Feb-2008 23:24:38         6        brush teeth
14   25-Feb-2008 23:28:30  25-Feb-2008 23:29:14         4         use toilet
15   26-Feb-2008 00:39:24  26-Feb-2008 00:39:40         4         use toilet
16   26-Feb-2008 03:13:40  26-Feb-2008 03:14:41         4         use toilet
17   26-Feb-2008 08:35:59  26-Feb-2008 08:36:38         4         use toilet
18   26-Feb-2008 09:15:40  26-Feb-2008 09:19:00         4         use toilet
19   26-Feb-2008 09:26:42  26-Feb-2008 09:29:09        13  prepare Breakfast
20   26-Feb-2008 09:48:07  26-Feb-2008 09:58:56         5        take shower
21   26-Feb-2008 10:05:59  26-Feb-2008 20:34:20         1        leave house
22   26-Feb-2008 21:02:34  26-Feb-2008 21:04:02         4         use toilet
23   26-Feb-2008 21:39:23  26-Feb-2008 21:40:12        17          get drink
24   26-Feb-2008 22:56:00  26-Feb-2008 22:58:51         4         use toilet
25   26-Feb-2008 22:59:37  26-Feb-2008 23:00:34         6        brush teeth
26   26-Feb-2008 23:01:33  27-Feb-2008 08:00:48        10          go to bed
27   27-Feb-2008 05:29:11  27-Feb-2008 05:30:26         4         use toilet
28   27-Feb-2008 08:01:22  27-Feb-2008 08:02:58        13  prepare Breakfast
29   27-Feb-2008 08:13:55  27-Feb-2008 08:16:07         4         use toilet
..                    ...                   ...       ...                ...
229  19-Mar-2008 07:51:00  19-Mar-2008 07:51:58         4         use toilet
230  19-Mar-2008 09:38:13  19-Mar-2008 09:44:21        13  prepare Breakfast
231  19-Mar-2008 09:48:29  19-Mar-2008 09:49:10         4         use toilet
232  19-Mar-2008 09:49:25  19-Mar-2008 10:00:23         5        take shower
233  19-Mar-2008 10:08:27  19-Mar-2008 17:15:17         1        leave house
234  19-Mar-2008 17:19:28  19-Mar-2008 17:22:04         5        take shower
235  19-Mar-2008 17:26:40  19-Mar-2008 20:20:07         1        leave house
236  19-Mar-2008 20:46:18  19-Mar-2008 20:49:02         4         use toilet
237  19-Mar-2008 21:49:09  19-Mar-2008 21:51:46         4         use toilet
238  19-Mar-2008 21:52:26  19-Mar-2008 21:53:56         6        brush teeth
239  19-Mar-2008 21:54:30  20-Mar-2008 08:31:03        10          go to bed
240  20-Mar-2008 00:35:07  20-Mar-2008 00:36:01         4         use toilet
241  20-Mar-2008 06:57:54  20-Mar-2008 06:58:39         4         use toilet
242  20-Mar-2008 08:45:42  20-Mar-2008 08:47:06         4         use toilet
243  20-Mar-2008 09:11:55  20-Mar-2008 09:15:14        13  prepare Breakfast
244  20-Mar-2008 09:42:26  20-Mar-2008 09:50:22         5        take shower
245  20-Mar-2008 09:56:47  20-Mar-2008 22:49:41         1        leave house
246  20-Mar-2008 22:51:11  20-Mar-2008 22:55:32         4         use toilet
247  20-Mar-2008 23:36:23  20-Mar-2008 23:41:10         4         use toilet
248  20-Mar-2008 23:56:36  20-Mar-2008 23:58:08         6        brush teeth
249  20-Mar-2008 23:58:42  20-Mar-2008 23:59:27         4         use toilet
250  20-Mar-2008 23:59:38  21-Mar-2008 09:04:25        10          go to bed
251  21-Mar-2008 03:49:46  21-Mar-2008 03:50:47         4         use toilet
252  21-Mar-2008 08:30:56  21-Mar-2008 08:31:36         4         use toilet
253  21-Mar-2008 09:13:22  21-Mar-2008 09:15:33         4         use toilet
254  21-Mar-2008 09:17:47  21-Mar-2008 09:24:43         5        take shower
255  21-Mar-2008 09:42:28  21-Mar-2008 15:51:38         1        leave house
256  21-Mar-2008 15:51:58  21-Mar-2008 15:53:10         4         use toilet
257  21-Mar-2008 17:03:48  21-Mar-2008 18:05:18        10          go to bed
258  21-Mar-2008 18:24:24  21-Mar-2008 18:25:05         4         use toilet

[259 rows x 4 columns]

In [33]:
new_df = pd.DataFrame(columns=["date", "activity"])

date_format = '%d-%b-%Y %H:%M:%S'
for index, row in merged.iterrows():
    new_df.loc[len(new_df)] = [row["start_time"], row["label"]+" start"]
    new_df.loc[len(new_df)] = [row["end_time"],  row["label"]+" end"]


new_df['date'] = pd.to_datetime(new_df['date'], format=date_format)
new_df.sort_values(['date'], ascending=True, inplace=True)


new_df

                   date                 activity
0   2008-02-25 00:19:32        brush teeth start
1   2008-02-25 00:21:24          brush teeth end
2   2008-02-25 00:22:46          go to bed start
3   2008-02-25 09:34:12            go to bed end
4   2008-02-25 09:37:17         use toilet start
5   2008-02-25 09:38:02           use toilet end
6   2008-02-25 09:49:23  prepare Breakfast start
7   2008-02-25 09:53:28    prepare Breakfast end
8   2008-02-25 10:02:28        take shower start
9   2008-02-25 10:12:42          take shower end
10  2008-02-25 10:19:06        leave house start
11  2008-02-25 16:55:38          leave house end
12  2008-02-25 17:00:31         use toilet start
13  2008-02-25 17:01:34           use toilet end
14  2008-02-25 17:54:55          get drink start
15  2008-02-25 17:55:58            get drink end
16  2008-02-25 18:31:54         use toilet start
17  2008-02-25 18:33:38           use toilet end
18  2008-02-25 19:40:26     prepare Dinner start
19  2008-02-25 20:22:58       prepare Dinner end
20  2008-02-25 20:23:12          get drink start
21  2008-02-25 20:23:35            get drink end
22  2008-02-25 21:51:29         use toilet start
23  2008-02-25 21:52:36           use toilet end
24  2008-02-25 23:21:15          go to bed start
26  2008-02-25 23:22:38        brush teeth start
27  2008-02-25 23:24:38          brush teeth end
28  2008-02-25 23:28:30         use toilet start
29  2008-02-25 23:29:14           use toilet end
30  2008-02-26 00:39:24         use toilet start
..                  ...                      ...
488 2008-03-20 09:42:26        take shower start
489 2008-03-20 09:50:22          take shower end
490 2008-03-20 09:56:47        leave house start
491 2008-03-20 22:49:41          leave house end
492 2008-03-20 22:51:11         use toilet start
493 2008-03-20 22:55:32           use toilet end
494 2008-03-20 23:36:23         use toilet start
495 2008-03-20 23:41:10           use toilet end
496 2008-03-20 23:56:36        brush teeth start
497 2008-03-20 23:58:08          brush teeth end
498 2008-03-20 23:58:42         use toilet start
499 2008-03-20 23:59:27           use toilet end
500 2008-03-20 23:59:38          go to bed start
502 2008-03-21 03:49:46         use toilet start
503 2008-03-21 03:50:47           use toilet end
504 2008-03-21 08:30:56         use toilet start
505 2008-03-21 08:31:36           use toilet end
501 2008-03-21 09:04:25            go to bed end
506 2008-03-21 09:13:22         use toilet start
507 2008-03-21 09:15:33           use toilet end
508 2008-03-21 09:17:47        take shower start
509 2008-03-21 09:24:43          take shower end
510 2008-03-21 09:42:28        leave house start
511 2008-03-21 15:51:38          leave house end
512 2008-03-21 15:51:58         use toilet start
513 2008-03-21 15:53:10           use toilet end
514 2008-03-21 17:03:48          go to bed start
515 2008-03-21 18:05:18            go to bed end
516 2008-03-21 18:24:24         use toilet start
517 2008-03-21 18:25:05           use toilet end

[518 rows x 2 columns]

In [34]:
new_df.to_csv("KA_dataset.csv", sep=";", index=False)
new_df.to_csv("kaData.txt", sep=";", index=False)