In [1]:
import pandas as pd
import numpy as np

In [2]:
df =  pd.read_csv("activity_data.txt", sep='\t')

df.head()

             start_time              end_time  activity
0  25-Feb-2008 00:19:32  25-Feb-2008 00:21:24         6
1  25-Feb-2008 00:22:46  25-Feb-2008 09:34:12        10
2  25-Feb-2008 09:37:17  25-Feb-2008 09:38:02         4
3  25-Feb-2008 09:49:23  25-Feb-2008 09:53:28        13
4  25-Feb-2008 10:02:28  25-Feb-2008 10:12:42         5

In [3]:
labels = pd.read_csv("activity_labels.txt")

labels.index = range(1,len(labels)+1)

labels

                         activity
1                     leave house
2                              ''
3                          Eating
4                      use toilet
5                     take shower
6                     brush teeth
7                              ''
8                              ''
9                              ''
10                      go to bed
11                             ''
12                             ''
13              prepare Breakfast
14                             ''
15                 prepare Dinner
16                      get snack
17                      get drink
18        put items in dishwasher
19              unload dishwasher
20                store groceries
21                             ''
22  put clothes in washingmachine
23          unload washingmachine
24                             ''
25                  receive guest

In [8]:
new_df = pd.DataFrame(columns=["date", "activity"])

for index, row in df.iterrows():
    new_df.loc[len(new_df)] = [row["start_time"], labels.loc[row["activity"], "activity"]+" start"]
    new_df.loc[len(new_df)] = [row["end_time"],  labels.loc[row["activity"], "activity"]+" end"]
    
new_df.to_csv("KA_dataset.csv", sep=";", index=False)

In [5]:
new_df.to_csv("kaData.txt", sep=";", index=False)